#form-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px;
}

.form {
    display: flex;
    flex-direction: column;
}

.mail-input {
    display: flex;
    text-align: center;
    min-width: 300px;
    border-radius: 10px;
    height: 30px;
}

.submit-button {
    display: block;
    margin : auto;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    height: 34px;
    width: 100px;
    background-color: #ea8415;
    color: #FFFFFF;
    font-size: 15px;
}

#text {
    display: flex;
    font-size: 21px;
    text-align: center;
    max-width: 800px;
}