#Project-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 14vw;
    margin-bottom: 20px;
    flex-wrap: wrap-reverse;
}

.explication {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

p {
    font-size: 20px;
    color: #2e4052;
}

h1 {
    display: flex;
    text-align: center;
    font-size: 40px;
    color: #ea8415;
}

.button {
    display: block;
    margin : auto;
    margin-top: 1.8vw;
    margin-bottom: 20px;
    width: 150px;
    height: 50px;
    text-decoration: none;
    color: white;
    background-color: #2e4052;
    cursor: pointer;
    border-radius: 8px;
    border: none;
}

.mockup {
    display: flex;
    max-width: 500px;
    max-height: 500px;
}

@media screen and (max-width: 400px) {
    .mockup {
        max-width: 350px;
        max-height: 350px;
    }
}