.story-wrapper {
    display: flex;
    flex-direction: column;
    margin: 80px 30px 30px 30px;
    align-items: center;
}

.title {
    display: flex;
    margin-top: 30px;
    color: #ea8415;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.story-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: center;
}

    .story1 {
        display: flex;
        max-width: 400px;
        border-right: 2px solid #ea8415;
        margin: 20px;
        padding-right: 10px;
    }
    
    .story2 {
        display: flex;
        max-width: 400px;
        border-right: 2px solid #ea8415;
        margin: 20px;
        padding-right: 10px;
    }

@media screen and (max-width: 961px) {
    .story1 {
        border-bottom: 2px solid #ea8415;
        border-right: none;
    }    
    .story2 {
        border-bottom: 2px solid #ea8415;
        border-right: none;
    }
}

.story3 {
    display: flex;
    max-width: 400px;
    margin: 20px;
    padding-right: 10px;
}

.content {
    display: flex;
    text-align: center;
    font-size: 20px;
    color: #2e4052;
}