.content-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #2e4052;
}

.header-title {
    position: fixed;
    top: 0px;
    margin: 20px;
    color: #ea8415;
    font-size: 30px;
    font-weight: bold;
}

nav {
    position: fixed;
    width: 100%;
    transition: color 0.5s;
}

nav ul li a:hover {
    color: #ea8415;
}

nav ul {
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline-block;
    padding: 1.5vw;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.logo {
    position: fixed;
    top: 0;
    margin-left: 30px;
    margin-left: 5px;
}

.photo {
    width: 75px;
    height: auto;
}

@media screen and (max-width: 570px) {
    .menu-list {
        display: none;
    }
}